/*GENERAL STYLING*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffdf7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "New Rocker", serif;
}

h1 {
  font-size: 32px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #200928;
  color: #f6d162;
  border: 2px solid #400053;
  border-radius: 8px;
  text-decoration: none;
  font-family: "New Rocker", serif;
  font-size: 14px;
  padding: 12px 24px;
  margin: 16px 0;
  transition: all 0.15s ease-in-out;
}

a:hover .button,
.button:hover {
  background-color: #400053;
  transform: scale(1.05);
}

.center {
  text-align: center;
  align-self: center;
}

header,
main,
footer {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
}

main {
  flex-grow: 1;
  background-color: #fcf7e8;
}

/*MENU*/
header {
  position: sticky;
  z-index: 100;
  top: 0;
  user-select: none;
  color: #f6d162;
}

header a {
  text-decoration: none;
  color: #f6d162;
}

.logo {
  display: flex;
  align-items: center;
  line-height: 24px;
}

.logo a {
  font-family: "New Rocker", serif;
  font-size: x-large;
}

.nav-link:hover {
  color: #f5f2c8;
}

/*MENU MOBILE STYLING*/
#menu-mobile .top {
  background: #200928;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

#menu-mobile #burger-menu {
  display: flex;
  cursor: pointer;
}

#menu-mobile #burger-menu .close-menu {
  display: none;
}

#menu-mobile.isOpen #burger-menu .close-menu {
  display: block;
}

#menu-mobile.isOpen #burger-menu .open-menu {
  display: none;
}

#menu-mobile .nav {
  display: none;
  background: #200928;
  padding: 16px 0;
}

#menu-mobile.isOpen .nav {
  display: block;
}

#menu-mobile #temaer-menu-label-mobile {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

#menu-mobile .label-arrow {
  display: inline-block;
  transition: translate 0.2s ease-in-out;
}

#menu-mobile #temaer-menu-mobile.isOpen #temaer-menu-label-mobile .label-arrow {
  transform: rotate(180deg);
}

#menu-mobile #temaer-menu-mobile.isOpen .sub-nav {
  display: flex;
}

#menu-mobile .nav-item {
  display: flex;
  flex-direction: column;
}

#menu-mobile .sub-nav-label {
  margin: 0 0 4px;
}

#menu-mobile .sub-nav {
  display: none;
  padding: 8px 0;
  margin: 4px 0;
  background: #200928;
  flex-direction: column;
  line-height: 1;
}

#menu-mobile .sub-nav .nav-link {
  font-size: 14px;
}

#menu-mobile .nav-link:hover,
#menu-mobile #temaer-menu-label-mobile:hover {
  background-color: #400053;
}

#menu-mobile #temaer-menu-label-mobile,
#menu-mobile .nav-link {
  padding: 10px 24px;
}

/*MENU DESKTOP STYLING*/
#menu-desktop {
  display: none;
}

/*SWITCH TO DESKTOP MENU*/
@media (min-width: 770px) {
  #menu-mobile {
    display: none;
  }

  #menu-desktop {
    display: block;
  }
}

#menu-desktop .top {
  background: #200928;
  display: flex;
  justify-content: space-between;
}

#menu-desktop .logo {
  padding: 24px;
}

#menu-desktop .nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#menu-desktop .nav-item .nav-link {
  padding: 24px;
  line-height: 24px;
}

#menu-desktop .nav-link:hover,
#menu-desktop #temaer-menu-label-desktop:hover {
  background-color: #400053;
}

#menu-desktop .nav {
  display: flex;
}

#temaer-menu-label-desktop {
  padding: 16px;
}

#menu-desktop #temaer-menu-desktop {
  display: none;
  justify-content: flex-end;
  background: #200928;
}

#menu-desktop #temaer-menu-desktop .nav-link {
  padding: 16px;
}

#menu-desktop #temaer-menu-desktop.isOpen {
  display: flex;
}

#menu-desktop .label-arrow {
  transition: translate 0.2s ease-in-out;
  display: inline-block;
}

#menu-desktop #temaer-menu-label-desktop .label-arrow.isOpen {
  transform: rotate(180deg);
}

/*SECTION STYLING*/

section {
  padding: 24px;
}

.module {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
}

/*COLUMN STYLING*/

.two-columns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column img {
  width: 100%;
  max-width: 100%;
}

.split-themes {
  justify-content: flex-end;
}

.split-themes .column {
  justify-content: center;
}

@media (min-width: 770px) {
  .two-columns {
    flex-direction: row;
  }

  .two-columns.reverse {
    flex-direction: row-reverse;
  }

  .column {
    width: 50%;
  }

  .split .column:first-child {
    width: 66%;
  }

  .split .column:last-child {
    width: 34%;
  }

  .split-themes .column:first-child {
    width: 60%;
  }

  .split-themes .column:last-child {
    width: 30%;
  }
}

/* SCROLL BUTTON STYLING */

.scroll-button-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  transform: rotate(90deg);
}

.scroll-button {
  font-family: "New Rocker", serif;
  display: inline-block;
  font-size: 50px;
  line-height: 1;
  color: #000000;
  animation-name: scroll-button_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes scroll-button_kf {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

/* fixes anchor tag offset with sticky header */
:target {
  margin-top: -72px;
  border-top: 72px solid transparent;
  background-clip: padding-box;
}

/* THEME THUMBNAILS */

.thumbnail-link {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-link img {
  opacity: 0.7;
}

.thumbnail-link .button {
  position: absolute;
}

.thumbnail-label {
  display: none;
}

@media (min-width: 770px) {
  .thumbnail-link .button {
    display: none;
  }

  .thumbnail-link img {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }

  .thumbnail-link:hover img {
    opacity: 0.2;
  }

  .thumbnail-label {
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #000000;
    font-size: 20px;
    font-family: "New Rocker", serif;
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
  }

  .thumbnail-link:hover .thumbnail-label {
    opacity: 1;
  }

  .thumbnail-label .arrow {
    font-size: 24px;
    margin-left: 4px;
  }
}

/*FOOTER STYLING*/
footer {
  background-color: #200928;
}

.footer-columns {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  color: #f6d162;
}

.socials-wrapper {
  display: flex;
  align-items: center;
}

.socials-wrapper p {
  font-size: 14px;
}

.socials-wrapper img {
  padding-left: 8px;
  width: 36px;
}

/* STARTSIDE */

#homepage-hero {
  background-color: #f4d989;
}

#homepage-tema1 {
  background-color: #ffd2b9;
}

#homepage-tema2 {
  background-color: #e7ebb0;
}

#homepage-tema3 {
  background-color: #d5f6f8;
}

#homepage-tema4 {
  background-color: #f8c9df;
}

#homepage-tema5 {
  background-color: #c7d4ff;
}

/* OM MIG */

#about-top {
  background-color: #f4d989;
}

#about-main {
  background-color: #f4d989;
}

/* TEMA SIDER */

#tema-top {
  background-color: #f4d989;
}
#tema1-main {
  background-color: #ffd2b9;
}
#tema2-main {
  background-color: #e7ebb0;
}
#tema3-main {
  background-color: #d5f6f8;
}
#tema4-main {
  background-color: #f8c9df;
}
#tema5-main {
  background-color: #c7d4ff;
}
